body{
    background-color: rgb(50, 46, 46);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 40px;
}

.topo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
}

.container{
    margin: 100px;
    display: flex;
    justify-content: center;
    perspective: 800px;
}

img{
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    transform-style: preserve-3d;
}

.botoes{
    padding: 15px, 40px;  
    font-size: 20px;
    border: none;
    background-color: #00B4FF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.botoes:hover{
    background-color: #FF9800;
    transform: scale(1.1);
}
