.bola{
    position: absolute;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    transition: all 1s;
}

.bola:hover{
    position: absolute;
    left: 300px;
    background-color: blue;
    transition: all 5s;
    transform: translateX(100px); 
    transform: scale(1.1);
}